:root {
  --base: #0b2431;
  --dark: #050f15;
  --light: #dae479;
  --color: #ebfef5;
  --color-dark: #5a5b5b;
  --grid-cols: 12;
  --grid-gap: 1.5rem;
  --container-max: 1280px;
  --container-pad: 1rem;
}
html {
  background-color: var(--base);
  color: var(--color);
  box-size: border-box;
}
main {
  --max-w: 80ch;
  max-width: var(--max-w);
  /* width: clamp(calc(100vw - 0.1em), 75%, var(--max-w)); */
  margin: 0 clamp(1em, 5%, calc(100vw - var(--max-w) / 2));
}
pre {
  background-color: var(--dark);
  padding: 1rem;
  border: solid 2px var(--light);
}
a {
  color: var(--light);
}
.title-image,
.preview-image {
  width: 50%;
  position: relative;
}
.title-image {
  height: 25%;
}
.post-card {
  border: solid var(--color-dark) 0.5px;
  display: flex;
  padding: 1.5rem;
  margin: 1rem;
  min-height: 10rem;
  min-width: 10rem;
  flex-direction: column;
  width: fit-content;
  align-items: center;
  justify-content: space-evenly;
  gap: 0.5em;
  position: relative;
  transition: border 0.5s ease;
  &:hover {
    border: solid var(--color) 0.5px;
    cursor: pointer;
  }
}
.post-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
.timestamp {
  color: var(--color-dark);
  text-decoration: none;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0.2em;
}
menu {
  list-style: none;
  display: flex;
  gap: 1em;
}

/* Image at the top */
/* maybe somethign with nav elements hand drwn */
/* titles hand written */
/* sticky titles */
/* footer with license and hand drawn images */
/* colors should match */
/* archive art */
