:root {
  --base: #0b2431;
  --dark: #050f15;
  --light: #dae479;
  --color: #ebfef5;
  --color-dark: #5a5b5b;
  --grid-cols: 12;
  --grid-gap: 1.5rem;
  --container-max: 1280px;
  --container-pad: 1rem;
}
html {
  cursor:
    url("/bunny.png") 16 16,
    auto;
  background-color: var(--base);
  color: var(--color);
  border-box: border-box;
  min-height: 100vh;
}
body {
  display: grid;
  grid-template-columns: auto auto;
}
@media screen and (width <= 100ch) {
  /* TODO: mobile  */
  body {
    display: block;
  }
  menu {
    top: 2rem;
    position: fixed;
  }
}
main {
  --max-w: 80ch;
  max-width: var(--max-w);
  /* width: clamp(calc(100vw - 0.1em), 75%, var(--max-w)); */
  margin: 0 clamp(1em, 5%, calc(100vw - var(--max-w) / 2));
}
pre {
  background-color: var(--dark);
  padding: 1rem;
  border: solid 2px var(--light);
}
a {
  color: var(--light);
}
.title-image,
.preview-image {
  width: 50%;
  position: relative;
}
.title-image {
  height: 5em;
  width: 100%;
}
.post-card {
  border: solid var(--color-dark) 0.5px;
  display: flex;
  padding: 1.5rem;
  margin: 1rem;
  min-height: 10rem;
  min-width: 10rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 0.5em;
  position: relative;
  transition: border 0.5s ease;
  &:hover {
    border: solid var(--color) 0.5px;
    cursor: pointer;
  }
}
.post-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
.timestamp {
  color: var(--color-dark);
  text-decoration: none;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0.2em;
}
menu {
  border: solid 1px var(--dark);
  width: min-content;
  padding: 1.5rem;
  top: 20vh;
  position: sticky;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1em;
  transition: border 0.5s ease;
  &:hover {
    border: solid 1px var(--light);
  }
}
.nav-item {
  height: 2.5em;
  transition: transform 0.5s ease;
  &:hover {
    transform: scale(1.1);
  }
}

.site-title {
  height: 6em;
  margin: 1.5em;
}

/* Image at the top */
/* maybe somethign with nav elements hand drwn */
/* titles hand written */
/* sticky titles */
/* footer with license and hand drawn images */
/* colors should match */
/* archive art */
